* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
#main {
}
.clear {
  clear: both;
}
.text-white {
  color: #fff !important;
}
#header {
  width: 100%;
  height: 46px;
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}
#header .search-btn {
  float: right;
  padding: 0 21px;
}
#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}
#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}
ul > li {
  list-style-type: none;
}
#nav {
  display: inline-block;
}
#nav > li {
  display: inline-block;
}
#nav li {
  position: relative;
}
#nav li:hover .subnav {
  display: block;
}
#nav .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  top: 100%;
  min-width: 160px;
}
#nav .subnav a {
  color: #000;
  line-height: 38px;
}
#nav > li > a {
  color: #fff;
}
#nav .subnav li:hover {
  color: #000;
  background-color: #ccc;
}
#nav .nav-arrow-down {
  font-size: 14px;
}
#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  /* display: inline-block; */
  display: block;
}
#nav > li:hover > a {
  color: #000;
  background-color: #ccc;
}

.subnav {
}
#slider {
  /* min-height: 500px;
    background-color:#333; */
  position: relative;
  margin-top: 46px;
  padding-top: 40%;
  margin-left: 10%;
  max-width: 80%;
  background: url("../img/6-3557-1599416919_20200907155201.jpg") top center/
    cover no-repeat;
}
#slider .text-content {
  position: absolute;
  bottom: 36px;
  color: black;
  /* left: 50%;
    transform: translateX(-50%); */
  text-align: center;
  width: 100%;
}
#slider .text-heading {
  font-size: 24px;
  font-weight: 500;
}
#slider .text-discription {
  font-size: 15px;
}
#content {
}
#content .content-session {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0;
}
#content .session-heading {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
}
#content .session-subheading {
  font-size: 15px;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}
#content .session-heading,
#content .session-subheading {
  text-align: center;
}
#content .about-text {
  margin-top: 25px;
  font-size: 15px;
  text-align: justify;
  line-height: 1.6;
}
#content .member-item {
  float: left;
  margin-top: 48px;
  width: calc(100% / 3);
  text-align: center;
}
#content .member-name {
  font-size: 15px;
}
#content .member-img {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}
#content .tour-session {
  background-color: #000;
}
#content .tickets-list {
  background-color: #fff;
  margin-top: 40px;
  list-style: none;
}
.tickets-list > li {
  color: #757575;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}
.tickets-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}
.places-list {
  margin-top: 32px;
  padding-left: -5px;
  padding-right: -5px;
  padding-bottom: 48px;
}
.place-item {
  float: left;
  width: 33, 333%;
  padding: 0 5px;
}
.place-img {
  width: 100%;
  display: block;
}
.place-img:hover {
  opacity: 0.6;
}
.place-body {
  background-color: #fff;
  font-size: 15px;
  padding: 16px;
}
.place-heading {
  font-weight: 600;
}
.place-time {
  margin-top: 15px;
  color: #757575;
  line-height: 1.6;
}
.place-discription {
  margin-top: 15px;
}
.place-buy-btn {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  /* Do khoi place discription la khoi inline ma khoi place-buy-btn la block nen phai display */
  margin-top: 15px;
}
.place-buy-btn:hover {
  color: #000;
  background-color: #ccc;
}
#footer {
  margin-top: 32px;
  padding: 64px 16px;
  text-align: center;
}
#footer .socials-list {
  font-size: 24px;
}
#footer .socials-list a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}
#footer .socials-list i:hover,
#footer .copy-right a:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
}
#footer .copy-right {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.4);
}
#footer .copy-right a {
  color: rgba(0, 0, 0, 0.6);
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal.open {
  display: flex;
}
.modal-container {
  background: #fff;
  width: 900px;
  min-height: 200px;
  position: relative;
  max-width: calc(100%-32px);
  animation: modalFadeIn ease 0.3s;
}
.modal-header {
  background: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}
.modal .modal-heading-icon {
  margin-right: 16px;
}
.modal-close:hover {
  opacity: 1;
}
.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
  cursor: pointer;
  opacity: 0.85;
}
.modal-body {
  padding: 16px;
}
.modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}
.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}
#buy-tickets {
  background: #009688;
  border: none;
  color: #fff;
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  padding: 18px;
  cursor: pointer;
}
#buy-tickets:hover {
  opacity: 0.9;
}
.modal-footer {
  padding: 16px;
  text-align: right;
}
.modal-footer a {
  color: #2196f3;
}
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 0;
    transform: translateY(0);
  }
}
.row {
  margin-left: -8px;
  margin-right: -8px;
}
.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.col-half {
  width: 50%;
}
.text-center {
  text-align: center !important;
}
.col-full {
  width: 100%;
}
.contact-content {
  margin-top: 47px;
}
.contact-info {
  font-size: 18px;
  line-height: 1.6;
}
.contact-info i[class*="ti-"] {
  width: 30px;
  display: inline-block;
}
.contact-form {
  font-size: 15px;
}
.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
.mt8 {
  margin-top: 8px;
}
.mt16 {
  margin-top: 16px;
}
.contact-form .form-submit-btn {
  background-color: #000;
  color: #ccc;
  border: none;
  padding: 10px 16px;
  float: right;
}
.contact-form .form-submit-btn:hover {
  background-color: #757575;
  color: #000;
  cursor: pointer;
}
.pull-right {
  float: right !important;
}
.map-session img {
  width: 100%;
}
.map-session {
  margin-top: 32px;
}
